Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Lint helm chart:
  image:
    name: registry.hpc.ut.ee/mirror/alpine/helm:3.12.3
    entrypoint:
    - ''
  stage: test
  interruptible: true
  before_script:
  - apk update
  - apk add jq python3
  - apk add -X http://dl-cdn.alpinelinux.org/alpine/edge/community -u alpine-keys
  ...

Run python v3.9 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.11 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.12 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.13 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Fix resource creation flow
  waldur_site_agent/backend/backends.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Feature/slurm diagnostics
  plugins/slurm/README.md
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_diagnostics.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_cli.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_service.py
  plugins/slurm/waldur_site_agent_slurm/diagnostics.py
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Move mypy and types to dev dependencies
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

fix the compute plugin for cscs-dwdi
  plugins/cscs-dwdi/tests/test_cscs_dwdi.py
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

docs: Correct the relative path for the main project documentation link in the SLURM plugin README.
  plugins/slurm/README.md
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

fix: Correct relative link to main project documentation in SLURM plugin README.
  plugins/slurm/README.md
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Report to mastermind slurm commands that have been executed
  pyproject.toml
  uv.lock
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Parameters cluster fix
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add real commands
  plugins/slurm/tests/test_periodic_limits/test_backend_integration.py
  plugins/slurm/tests/test_periodic_limits/test_periodic_limits_plugin.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_cli.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_service.py
  plugins/slurm/waldur_site_agent_slurm/diagnostics.py
  plugins/slurm/waldur_site_agent_slurm/schemas.py
  tests/test_event_processing/test_report_command_result.py
  waldur_site_agent/event_processing/handlers.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Update documentation for plugin creation
  .pre-commit-config.yaml
  docs/architecture.md
  docs/plugin-development-guide.md
  docs/plugin-template/pyproject.toml
  docs/plugin-template/tests/conftest.py
  docs/plugin-template/tests/test_backend.py
  docs/plugin-template/waldur_site_agent_mycustom/__init__.py
  docs/plugin-template/waldur_site_agent_mycustom/backend.py
  docs/plugin-template/waldur_site_agent_mycustom/client.py
  docs/plugin-template/waldur_site_agent_mycustom/schemas.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/backend/clients.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Make get_usage_report timezone aware
  plugins/croit-s3/waldur_site_agent_croit_s3/client.py
  plugins/harbor/waldur_site_agent_harbor/client.py
  plugins/moab/waldur_site_agent_moab/client.py
  plugins/mup/waldur_site_agent_mup/client.py
  plugins/okd/waldur_site_agent_okd/client.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  waldur_site_agent/backend/clients.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix SLURM limit values
  plugins/slurm/waldur_site_agent_slurm/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Improve test CI jobs
  .gitlab-ci.yml
Due: none

component if else specifications
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Improve test coverage info collection
  .gitlab-ci.yml
Due: none

[WAL-7840] Move DO / libcloud to agent.
  plugins/digitalocean/README.md
  plugins/digitalocean/pyproject.toml
  plugins/digitalocean/tests/test_digitalocean_backend.py
  plugins/digitalocean/tests/test_digitalocean_client.py
  plugins/digitalocean/waldur_site_agent_digitalocean/__init__.py
  plugins/digitalocean/waldur_site_agent_digitalocean/backend.py
  plugins/digitalocean/waldur_site_agent_digitalocean/client.py
  plugins/digitalocean/waldur_site_agent_digitalocean/schemas.py
  waldur_site_agent/backend/__init__.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

[WAL-9095] Migrate agent to structured logging.
  README.md
  plugins/slurm/waldur_site_agent_slurm/diagnostic_cli.py
  pyproject.toml
  uv.lock
  waldur_site_agent/backend/__init__.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/testing/cli.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Update waldur api client to 8.0.1
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Introduce unit_factor_reporting
  plugins/cscs-dwdi/tests/test_cscs_dwdi.py
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
  waldur_site_agent/common/structures.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Use ObservableObjectTypeEnum for STOMP handler routing [HPCMP-421]
  waldur_site_agent/event_processing/event_subscription_manager.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

[WAL-9658] Add Waldur-to-Waldur federation backend plugin
  plugins/waldur/README.md
  plugins/waldur/pyproject.toml
  plugins/waldur/tests/__init__.py
  plugins/waldur/tests/conftest.py
  plugins/waldur/tests/integration_helpers.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/tests/test_client.py
  plugins/waldur/tests/test_component_mapping.py
  plugins/waldur/tests/test_integration.py
  plugins/waldur/waldur_site_agent_waldur/__init__.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/client.py
  plugins/waldur/waldur_site_agent_waldur/component_mapping.py
  plugins/waldur/waldur_site_agent_waldur/schemas.py
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Propagate configured timezone to backends for usage accounting
  docs/plugin-template/waldur_site_agent_mycustom/backend.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Log version information at agent startup
  plugins/waldur/waldur_site_agent_waldur/client.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/main.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Bump sdk
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix FakeDatetime JSON serialization in membership sync tests
  plugins/slurm/tests/test_membership_sync.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.8.6
  README.md
  charts/waldur-site-agent-0.8.6.tgz
  docs/architecture.md
  docs/plugin-development-guide.md
  docs/plugin-template/pyproject.toml
  docs/plugin-template/tests/conftest.py
  docs/plugin-template/tests/test_backend.py
  docs/plugin-template/waldur_site_agent_mycustom/__init__.py
  docs/plugin-template/waldur_site_agent_mycustom/backend.py
  docs/plugin-template/waldur_site_agent_mycustom/client.py
  docs/plugin-template/waldur_site_agent_mycustom/schemas.py
  index.yaml
Due: none

Fix rancher role setting
  plugins/rancher/README.md
  plugins/rancher/examples/rancher-config-basic.yaml
  plugins/rancher/examples/rancher-config.yaml
  plugins/rancher/tests/test_integration.py
  plugins/rancher/tests/test_rancher_backend.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix exception details
  plugins/slurm/tests/test_order_processing.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/backend/exceptions.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.8.7
  charts/waldur-site-agent-0.8.7.tgz
  index.yaml
Due: none

Fix sacct command call
  plugins/slurm/waldur_site_agent_slurm/client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Sync service and course accounts on resource creation
  plugins/slurm/tests/test_order_processing.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add Waldur federation with non-blocking orders and target STOMP
  docs/architecture.md
  docs/configuration.md
  docs/plugin-development-guide.md
  plugins/waldur/README.md
  plugins/waldur/tests/e2e/TEST_PLAN.md
  plugins/waldur/tests/e2e/__init__.py
  plugins/waldur/tests/e2e/conftest.py
  plugins/waldur/tests/e2e/test_e2e_federation.py
  plugins/waldur/tests/e2e/test_e2e_stomp.py
  plugins/waldur/tests/integration_helpers.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/tests/test_integration.py
  plugins/waldur/tests/test_target_event_handler.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/schemas.py
  plugins/waldur/waldur_site_agent_waldur/target_event_handler.py
  tests/test_event_processing/test_stomp_setup.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/backend/structures.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Guard against invalid SLURM command flags in _execute_command
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/tests/test_periodic_limits/test_backend_integration.py
  plugins/slurm/waldur_site_agent_slurm/client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.8.8
  charts/waldur-site-agent-0.8.8.tgz
  docs/architecture.md
  docs/configuration.md
  docs/plugin-development-guide.md
  index.yaml
Due: none

Add waldur plugin to CI publish job version bumping
  .gitlab-ci.yml
Due: none

Release 0.8.9
  charts/waldur-site-agent-0.8.9.tgz
  index.yaml
Due: none

Support passthrough_attributes for Waldur federation orders
  plugins/waldur/tests/test_backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add OpenNebula plugin with VDC and VM management support
  .pre-commit-config.yaml
  docs/plugin-development-guide.md
  docs/plugin-template/waldur_site_agent_mycustom/backend.py
  docs/sdk.md
  docs/update-local-sdk.sh
  plugins/croit-s3/waldur_site_agent_croit_s3/backend.py
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
  plugins/digitalocean/waldur_site_agent_digitalocean/backend.py
  plugins/harbor/waldur_site_agent_harbor/backend.py
  plugins/moab/waldur_site_agent_moab/backend.py
  plugins/mup/tests/test_mup_order_processing.py
  plugins/mup/waldur_site_agent_mup/backend.py
  plugins/okd/waldur_site_agent_okd/backend.py
  plugins/opennebula/README.md
  plugins/opennebula/pyproject.toml
  plugins/opennebula/tests/__init__.py
  plugins/opennebula/tests/conftest.py
  plugins/opennebula/tests/e2e/integration-test-report.md
  plugins/opennebula/tests/test_backend.py
  plugins/opennebula/tests/test_integration.py
  plugins/opennebula/waldur_site_agent_opennebula/__init__.py
  plugins/opennebula/waldur_site_agent_opennebula/backend.py
  plugins/opennebula/waldur_site_agent_opennebula/client.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/slurm/tests/test_order_processing.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  pyproject.toml
  tests/test_event_processing/test_report_command_result.py
  tests/test_order_approval.py
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/backend/structures.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/testing/mock_backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Remove MQTT support in favor of STOMP
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  docs/plugin-development-guide.md
  docs/slurm-usage-reporting-setup.md
  examples/mup-config-example.yaml
  helm/waldur-site-agent/README.md
  helm/waldur-site-agent/templates/NOTES.txt
  helm/waldur-site-agent/test-values-event.yaml
  helm/waldur-site-agent/test-values.yaml
  helm/waldur-site-agent/values.yaml
  plugins/slurm/README.md
  pyproject.toml
  tests/test_course_account_message.py
  tests/test_order_state_filtering.py
  tests/test_service_account_message.py
  uv.lock
  waldur_site_agent/common/structures.py
  waldur_site_agent/event_processing/__init__.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/main.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/polling_processing/agent_membership_sync.py
  waldur_site_agent/polling_processing/agent_order_process.py
Due: Lint helm chart, Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add identity bridge username management backend for Waldur federation
  plugins/waldur/README.md
  plugins/waldur/pyproject.toml
  plugins/waldur/tests/e2e/conftest.py
  plugins/waldur/tests/e2e/test_e2e_offering_user_pubsub.py
  plugins/waldur/tests/e2e/test_e2e_order_rejection.py
  plugins/waldur/tests/e2e/test_e2e_usage_sync.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/tests/test_identity_bridge_integration.py
  plugins/waldur/tests/test_username_backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/schemas.py
  plugins/waldur/waldur_site_agent_waldur/username_backend.py
  tests/test_event_processing/test_offering_user_handler.py
  tests/test_event_processing/test_stomp_setup.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
