Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock

nextcloud: delegate add_user/remove_user to batch methods
  plugins/nextcloud/waldur_site_agent_nextcloud/backend.py
Due: none

Release 1.0.6-rc.20
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.20
  README.md
  artifacthub-repo.yml
  charts/waldur-site-agent-1.0.6-rc.20.tgz
  docs/configuration.md
  docs/deployment.md
  docs/e2e-testing.md
  docs/installation.md
  docs/quickstart.md
  docs/releasing.md
  docs/upgrading.md
  index.yaml
Due: none

Quickstart: document how to get the API token from the Waldur UI
  docs/quickstart.md
Due: none

Upgrade waldur-api-client to 8.1.2
  plugins/slurm/tests/e2e/conftest.py
  plugins/slurm/tests/e2e/test_e2e_policy.py
  plugins/slurm/tests/e2e/test_e2e_prepaid.py
  plugins/slurm/tests/e2e/test_e2e_qos_backcompat.py
  plugins/slurm/tests/e2e/test_e2e_qos_matrix.py
  plugins/slurm/tests/e2e/test_e2e_qos_polling.py
  plugins/slurm/tests/e2e/test_e2e_qos_stomp.py
  plugins/slurm/tests/e2e/test_e2e_stomp.py
  plugins/waldur/tests/e2e/test_e2e_federation.py
  plugins/waldur/waldur_site_agent_waldur/client.py
  pyproject.toml
  uv.lock
  waldur_site_agent/common/processors.py
  waldur_site_agent/testing/order_test_harness.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.7
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.7
  charts/waldur-site-agent-1.0.7.tgz
  docs/quickstart.md
  index.yaml
Due: none

Run both linter jobs with prek from the shared template [waldur/waldur-mastermind#343]
  .gitlab-ci.yml
Due: none

Move the account DefaultQOS along with the QoS swap [#16]
  plugins/slurm/docs/upgrading.md
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/tests/test_qos_enforcement.py
  plugins/slurm/tests/test_qos_management_flags.py
  plugins/slurm/tests/test_qos_swap_default_qos.py
  plugins/slurm/tests/test_qos_swap_emulator.py
  plugins/slurm/tests/test_rest_client.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  plugins/slurm/waldur_site_agent_slurm/interface.py
  plugins/slurm/waldur_site_agent_slurm/rest_client.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Pull the base images through the registry mirror
  Dockerfile
Due: none

Require slurm-emulator 0.9.5 so the DefaultQOS swap test runs [#16]
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/e2e/test_e2e_rest_api.py
  plugins/slurm/tests/test_qos_swap_default_qos.py
  plugins/slurm/tests/test_qos_swap_emulator.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

[#15] Add Open WebUI integration
  plugins/litellm/README.md
  plugins/litellm/tests/test_litellm_usage_backend.py
  plugins/litellm/tests/test_litellm_users.py
  plugins/litellm/tests/test_openwebui_client.py
  plugins/litellm/waldur_site_agent_litellm/backend.py
  plugins/litellm/waldur_site_agent_litellm/client.py
  plugins/litellm/waldur_site_agent_litellm/openwebui.py
  plugins/litellm/waldur_site_agent_litellm/reporting.py
  plugins/litellm/waldur_site_agent_litellm/schemas.py
  plugins/litellm/waldur_site_agent_litellm/usage_client.py
  plugins/slurm/tests/test_membership_sync.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.1
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.1
  charts/waldur-site-agent-1.0.8-rc.1.tgz
  index.yaml
Due: none

Upgrade waldur-api-client to 8.1.3rc10
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Take LDAP usernames and POSIX ids from Waldur instead of the directory [#17]
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  ci/e2e-ci-config-ldap-inverted.yaml
  ci/site_agent_e2e.json
  ci/sssd-demo/Dockerfile
  ci/sssd-demo/README.md
  ci/sssd-demo/reconcile.py
  ci/sssd-demo/run-demo.sh
  ci/sssd-demo/sssd.conf
  docs/offering-users.md
  examples/waldur-site-agent-config.yaml.example
  plugins/ldap/README.md
  plugins/ldap/tests/test_backend_reconcile.py
  plugins/ldap/tests/test_client_posix.py
  plugins/ldap/tests/test_reconcile.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/ldap/waldur_site_agent_ldap/client.py
  plugins/ldap/waldur_site_agent_ldap/reconcile.py
  plugins/ldap/waldur_site_agent_ldap/schemas.py
  plugins/slurm/tests/e2e/test_e2e_ldap.py
  pyproject.toml
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Keep polling agents working when identity registration is refused [waldur/waldur-mastermind#385]
  docs/configuration.md
  docs/deployment.md
  tests/test_agent_telemetry_resilience.py
  waldur_site_agent/common/agent_identity_management.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/polling_processing/agent_membership_sync.py
  waldur_site_agent/polling_processing/agent_order_process.py
  waldur_site_agent/polling_processing/agent_report.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Keep the event path working when the agent identity is unavailable [#24]
  tests/test_agent_telemetry_resilience.py
  waldur_site_agent/common/agent_identity_management.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Stop the release from tagging when the changelog found no commits
  CHANGELOG.md
  scripts/changelog.sh
  scripts/generate_changelog_data.py
  scripts/release.sh
Due: none

Release 1.0.8-rc.2
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Refuse to cut a release from a branch that is behind the remote
  scripts/release.sh
Due: none

Release 1.0.8-rc.2
  charts/waldur-site-agent-1.0.8-rc.2.tgz
  docs/configuration.md
  docs/deployment.md
  docs/offering-users.md
  index.yaml
Due: none

Fix four inaccuracies in the rancher-kc-crd example config
  plugins/rancher-kc-crd/examples/rancher-kc-crd-config.yaml
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/__init__.py
Due: none

[#22] Add option to have key's backend_id derived from Waldur resource's UUID instead of slug
  plugins/litellm/README.md
  plugins/litellm/tests/test_litellm_backend.py
  plugins/litellm/waldur_site_agent_litellm/backend.py
  plugins/litellm/waldur_site_agent_litellm/schemas.py
Due: none

Stop membership sync from removing service and course accounts
  plugins/slurm/tests/test_membership_sync.py
  tests/test_federation_consent_union.py
  tests/test_service_account_membership_sync.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Add preserve_unmanaged_backend_users to keep custom provider added SLURM users
  .gitlab-ci.yml
  ci/e2e-ci-config-membership.yaml
  ci/site_agent_e2e.json
  docs/configuration.md
  examples/waldur-site-agent-config.yaml.example
  plugins/slurm/docs/upgrading.md
  plugins/slurm/tests/e2e/test_e2e_membership_stale.py
  plugins/slurm/tests/test_membership_sync.py
  tests/test_configuration.py
  tests/test_federation_consent_union.py
  tests/test_processor_caching.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/structures.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Add QoS pausing and restore tests [HPCMP-477]
  plugins/slurm/tests/test_membership_sync.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Move Azure plugin to agent [#8]
  .gitlab-ci.yml
  README.md
  ci/e2e-ci-config.yaml
  ci/site_agent_e2e.json
  docs/configuration.md
  examples/waldur-site-agent-config.yaml.example
  plugins/azure/README.md
  plugins/azure/pyproject.toml
  plugins/azure/tests/e2e/__init__.py
  plugins/azure/tests/e2e/conftest.py
  plugins/azure/tests/e2e/fake_azure.py
  plugins/azure/tests/e2e/test_e2e_orders.py
  plugins/azure/tests/test_backend.py
  plugins/azure/tests/test_clients.py
  plugins/azure/tests/test_entry_points.py
  plugins/azure/tests/test_metering.py
  plugins/azure/tests/test_naming.py
  plugins/azure/tests/test_provisioning.py
  plugins/azure/tests/test_sdk_contract.py
  plugins/azure/waldur_site_agent_azure/__init__.py
  plugins/azure/waldur_site_agent_azure/backend.py
  plugins/azure/waldur_site_agent_azure/base_client.py
  plugins/azure/waldur_site_agent_azure/clients/__init__.py
  plugins/azure/waldur_site_agent_azure/clients/base.py
  plugins/azure/waldur_site_agent_azure/clients/compute.py
  plugins/azure/waldur_site_agent_azure/clients/network.py
  plugins/azure/waldur_site_agent_azure/clients/resource.py
  plugins/azure/waldur_site_agent_azure/metering.py
  plugins/azure/waldur_site_agent_azure/naming.py
  plugins/azure/waldur_site_agent_azure/schemas.py
  uv.lock
  waldur_site_agent/backend/__init__.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Skip unchanged backend metadata writes in membership sync
  tests/test_backend_metadata_sync.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Add ldap-roles backend and extract shared ldap-client
  .gitlab-ci.yml
  ci/e2e-ci-config-ldap-roles.yaml
  ci/site_agent_e2e.json
  plugins/ldap-client/README.md
  plugins/ldap-client/pyproject.toml
  plugins/ldap-client/tests/__init__.py
  plugins/ldap-client/tests/test_client_live.py
  plugins/ldap-client/tests/test_client_posix.py
  plugins/ldap-client/waldur_site_agent_ldap_client/__init__.py
  plugins/ldap-client/waldur_site_agent_ldap_client/client.py
  plugins/ldap-roles/README.md
  plugins/ldap-roles/pyproject.toml
  plugins/ldap-roles/tests/__init__.py
  plugins/ldap-roles/tests/e2e/test_e2e_ldap_roles.py
  plugins/ldap-roles/tests/test_backend.py
  plugins/ldap-roles/tests/test_translator.py
  plugins/ldap-roles/waldur_site_agent_ldap_roles/__init__.py
  plugins/ldap-roles/waldur_site_agent_ldap_roles/backend.py
  plugins/ldap-roles/waldur_site_agent_ldap_roles/schemas.py
  plugins/ldap-roles/waldur_site_agent_ldap_roles/translator.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/slurm/pyproject.toml
  plugins/slurm/waldur_site_agent_slurm/backend.py
  scripts/bump_versions.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.3
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.3
  README.md
  charts/waldur-site-agent-1.0.8-rc.3.tgz
  docs/configuration.md
  index.yaml
Due: none

fix(harbor): fail closed outside managed project prefix
  plugins/harbor/README.md
  plugins/harbor/tests/test_harbor_backend.py
  plugins/harbor/waldur_site_agent_harbor/backend.py
Due: Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests

Add developer quick-start steps to plugin development guide
  docs/plugin-development-guide.md
Due: none

Fix get_client stripping hostname characters instead of /api suffix
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/backend.py
  plugins/waldur/waldur_site_agent_waldur/username_backend.py
  tests/test_get_client.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release LDAP accounts when a user loses their last offering access [waldur/waldur-mastermind#413]
  ci/e2e-ci-config-ldap-inverted.yaml
  ci/site_agent_e2e.json
  docs/offering-users.md
  plugins/ldap-client/tests/test_client_posix.py
  plugins/ldap-client/waldur_site_agent_ldap_client/client.py
  plugins/ldap/README.md
  plugins/ldap/tests/test_backend_release.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/ldap/waldur_site_agent_ldap/reconcile.py
  plugins/ldap/waldur_site_agent_ldap/schemas.py
  plugins/slurm/docs/upgrading.md
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/e2e/test_e2e_default_account_policy.py
  plugins/slurm/tests/e2e/test_e2e_ldap.py
  plugins/slurm/tests/e2e/test_e2e_membership_stale.py
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/tests/test_rest_client.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  plugins/slurm/waldur_site_agent_slurm/interface.py
  plugins/slurm/waldur_site_agent_slurm/rest_client.py
  plugins/slurm/waldur_site_agent_slurm/schemas.py
  tests/test_event_processing/test_offering_user_release.py
  tests/test_event_processing/test_reconciliation.py
  tests/test_offering_user_release.py
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/testing/mock_backend.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Document the teardown half of the offering-user lifecycle [waldur/waldur-mastermind#413]
  docs/offering-users.md
  plugins/slurm/docs/upgrading.md
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Upgrade anyio past CVE-2026-63374 and CVE-2026-64847
  .osv-scanner.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Stop the health probe importing the whole API client [#31]
  Dockerfile
  helm/waldur-site-agent/README.md
  helm/waldur-site-agent/templates/deployment-event-process.yaml
  helm/waldur-site-agent/templates/deployment-membership-sync.yaml
  helm/waldur-site-agent/templates/deployment-order-process.yaml
  helm/waldur-site-agent/templates/deployment-report.yaml
  helm/waldur-site-agent/tests/deployment_event_process_test.yaml
  helm/waldur-site-agent/tests/deployment_membership_sync_test.yaml
  helm/waldur-site-agent/tests/deployment_order_process_test.yaml
  helm/waldur-site-agent/tests/deployment_report_test.yaml
  helm/waldur-site-agent/values.yaml
  tests/test_healthz_probe_cost.py
  tests/test_oidc_auth.py
  waldur_site_agent/common/healthz.py
  waldur_site_agent/common/utils.py
Due: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release an account only when its removal is confirmed [waldur/waldur-mastermind#413]
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
  plugins/envoy-ai-gateway/waldur_site_agent_envoy_ai_gateway/reporting.py
  plugins/harbor/tests/test_harbor_backend.py
  plugins/harbor/waldur_site_agent_harbor/backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
  plugins/ldap-client/tests/test_client_posix.py
  plugins/ldap-client/waldur_site_agent_ldap_client/client.py
  plugins/ldap/README.md
  plugins/ldap/tests/test_backend_reconcile.py
  plugins/ldap/tests/test_backend_release.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/litellm/waldur_site_agent_litellm/reporting.py
  plugins/mup/tests/test_mup_backend.py
  plugins/mup/waldur_site_agent_mup/backend.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  tests/test_offering_user_release.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests
