Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Lint helm chart:
  image:
    name: registry.hpc.ut.ee/mirror/alpine/helm:3.12.3
    entrypoint:
    - ''
  stage: test
  interruptible: true
  before_script:
  - apk update
  - apk add jq python3
  - apk add -X http://dl-cdn.alpinelinux.org/alpine/edge/community -u alpine-keys
  ...

Run python v3.9 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.11 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.12 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.13 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.9 slurm tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 slurm tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Write the organization slug into project group descriptions from a configurable template [waldur/waldur-mastermind#649]
  plugins/ldap/README.md
  plugins/ldap/tests/test_project_groups.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/ldap/waldur_site_agent_ldap/project_groups.py
  plugins/ldap/waldur_site_agent_ldap/schemas.py
Due: none

fix(k8s-ut-namespace): credit pods from real per-container timestamps, not a Running snapshot
  plugins/k8s-ut-namespace/README.md
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
Due: none

Release 1.0.8-rc.7
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.7
  README.md
  charts/waldur-site-agent-1.0.8-rc.7.tgz
  docs/architecture.md
  docs/configuration-validation.md
  docs/configuration.md
  docs/deployment.md
  docs/e2e-testing.md
  docs/installation.md
  docs/offering-users.md
  docs/plugin-development-guide.md
  docs/plugin-readme-template.md
  docs/quickstart.md
  docs/releasing.md
  docs/sdk.md
  docs/slurm-rest-api-design.md
  docs/slurm-storage-quotas.md
  docs/slurm-usage-reporting-setup.md
  docs/update-local-sdk.sh
  docs/upgrading.md
  docs/waldur-offering-user-sync.md
  index.yaml
Due: none

feat(k8s-ut-namespace): log when containers have no resources.requests
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
Due: none

Drop the waldur-managed marker from LDAP project groups [#68]
  plugins/ldap/README.md
  plugins/ldap/tests/test_project_groups.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/ldap/waldur_site_agent_ldap/project_groups.py
  plugins/ldap/waldur_site_agent_ldap/schemas.py
  plugins/slurm/tests/e2e/test_e2e_ldap.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Release 1.0.8-rc.8
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.8
  charts/waldur-site-agent-1.0.8-rc.8.tgz
  index.yaml
Due: none

Match Rancher Keycloak members by civil code [waldur/waldur-mastermind#702]
  plugins/rancher-kc-crd/README.md
  plugins/rancher-kc-crd/examples/rancher-kc-crd-config.yaml
  plugins/rancher-kc-crd/tests/test_settings_schema.py
  plugins/rancher-kc-crd/tests/test_sync_report_derivation.py
  plugins/rancher-kc-crd/tests/test_translator.py
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/backend.py
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/schemas.py
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/translator.py
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.9
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.9
  charts/waldur-site-agent-1.0.8-rc.9.tgz
  index.yaml
Due: none

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
