Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock

Drop resource state management from reporting
  plugins/slurm/tests/test_reporing.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Use waldur-api-client 7.8.5
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix pagination: continue if next page link is returned in HTTP header
  .pre-commit-config.yaml
  tests/test_pagination.py
  waldur_site_agent/common/pagination.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.7.8
  charts/waldur-site-agent-0.7.8.tgz
  index.yaml
Due: none

Fix exposure of storage resources in executing state
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/backend.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/__init__.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/config.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix tests
  plugins/cscs-hpc-storage/tests/test_cscs_backend.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add more links to proxy
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Improve service registration for the event-process mode
  waldur_site_agent/event_processing/handlers.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add basic croit-s3 plugin
  .gitlab-ci.yml
  plugins/croit-s3/README.md
  plugins/croit-s3/pyproject.toml
  plugins/croit-s3/tests/test_backend.py
  plugins/croit-s3/tests/test_client.py
  plugins/croit-s3/waldur_site_agent_croit_s3/__init__.py
  plugins/croit-s3/waldur_site_agent_croit_s3/backend.py
  plugins/croit-s3/waldur_site_agent_croit_s3/client.py
  plugins/croit-s3/waldur_site_agent_croit_s3/exceptions.py
  pyproject.toml
  uv.lock
  waldur_site_agent/backend/__init__.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Improve documenation [WAL-9417]
  LICENCE.md
  README.md
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  docs/installation.md
  docs/offering-users.md
  docs/rocky9-python313-validation.md
  docs/rocky9-validation-results-final.md
  docs/rocky9-validation-results.md
  docs/ubuntu24-validation-results.md
  plugins/basic_username_management/README.md
  plugins/croit-s3/README.md
  plugins/cscs-dwdi/README.md
  plugins/cscs-hpc-storage/README.md
  plugins/harbor/README.md
  plugins/moab/README.md
  plugins/mup/README.md
  plugins/okd/README.md
  plugins/slurm/README.md
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.7.9
  README.md
  charts/waldur-site-agent-0.7.9.tgz
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  docs/installation.md
  docs/offering-users.md
  docs/rocky9-python313-validation.md
  docs/rocky9-validation-results-final.md
  docs/rocky9-validation-results.md
  docs/ubuntu24-validation-results.md
  index.yaml
Due: none

Set parent share for associations
  plugins/slurm/waldur_site_agent_slurm/client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add rancher plugin
  .gitlab-ci.yml
  plugins/harbor/tests/test_harbor_backend.py
  plugins/harbor/waldur_site_agent_harbor/backend.py
  plugins/mup/tests/test_mup_backend.py
  plugins/mup/waldur_site_agent_mup/backend.py
  plugins/rancher/README.md
  plugins/rancher/__init__.py
  plugins/rancher/examples/rancher-config-basic.yaml
  plugins/rancher/examples/rancher-config.yaml
  plugins/rancher/pyproject.toml
  plugins/rancher/tests/__init__.py
  plugins/rancher/tests/test_integration.py
  plugins/rancher/tests/test_keycloak_client.py
  plugins/rancher/tests/test_quota_functionality.py
  plugins/rancher/tests/test_rancher_backend.py
  plugins/rancher/tests/test_rancher_client.py
  plugins/rancher/waldur_site_agent_rancher/__init__.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/rancher/waldur_site_agent_rancher/keycloak_client.py
  plugins/rancher/waldur_site_agent_rancher/rancher_client.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  pyproject.toml
  tests/test_course_account_message.py
  tests/test_service_account_message.py
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/backend/structures.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Cleanup dependencies
  plugins/croit-s3/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add slurm usage loader [WAL-9435]
  docs/slurm-usage-reporting-setup.md
  plugins/rancher/README.md
  plugins/slurm/pyproject.toml
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  pyproject.toml
  uv.lock
  waldur_site_agent/backend/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add optional validation of uniquness of backend_id [WAL-9439]
  examples/mup-config-example.yaml
  plugins/mup/tests/test_mup_backend.py
  plugins/mup/tests/test_mup_order_processing.py
  plugins/mup/waldur_site_agent_mup/backend.py
  plugins/mup/waldur_site_agent_mup/client.py
  plugins/slurm/tests/test_order_processing.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Update Rancher plugin
  plugins/rancher/examples/rancher-config-basic.yaml
  plugins/rancher/examples/rancher-config.yaml
  plugins/rancher/tests/test_integration.py
  plugins/rancher/tests/test_quota_functionality.py
  plugins/rancher/tests/test_rancher_backend.py
  plugins/rancher/tests/test_rancher_client.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/rancher/waldur_site_agent_rancher/rancher_client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Move filtering of resource by order state to backend
  plugins/cscs-hpc-storage/tests/test_cscs_backend.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Use sync_all instead of pagination helper
  plugins/slurm/tests/test_membership_sync.py
  plugins/slurm/tests/test_order_processing.py
  plugins/slurm/tests/test_reporing.py
  plugins/slurm/tests/test_timezone.py
  pyproject.toml
  tests/test_course_account_message.py
  tests/test_pagination.py
  tests/test_service_account_message.py
  uv.lock
  waldur_site_agent/common/pagination.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Dropping async since it is meaningless to mix sync and async
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/main.py
  plugins/slurm/pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Drop meaningless type annotations
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Drop HPC User API. Fetch Unix GID from project metadata
  examples/cscs-storage-proxy-config.yaml.example
  plugins/cscs-hpc-storage/README.md
  plugins/cscs-hpc-storage/tests/test_cscs_backend.py
  plugins/cscs-hpc-storage/tests/test_hierarchical_storage.py
  plugins/cscs-hpc-storage/tests/test_hpc_user_client.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/backend.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/hpc_user_client.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/__init__.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/config.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Extract CSCS HPC storage to separate repository
  .gitlab-ci.yml
  Dockerfile.waldur-storage-proxy
  README.md
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  examples/cscs-hpc-storage-config.yaml.example
  examples/cscs-storage-proxy-config.yaml.example
  examples/waldur-site-agent-config.yaml.example
  plugins/basic_username_management/README.md
  plugins/croit-s3/README.md
  plugins/cscs-dwdi/README.md
  plugins/cscs-hpc-storage/README.md
  plugins/cscs-hpc-storage/pyproject.toml
  plugins/cscs-hpc-storage/tests/test_api_hierarchical.py
  plugins/cscs-hpc-storage/tests/test_config.yaml
  plugins/cscs-hpc-storage/tests/test_cscs_backend.py
  plugins/cscs-hpc-storage/tests/test_hierarchical_storage.py
  plugins/cscs-hpc-storage/tests/test_storage_proxy.py
  plugins/cscs-hpc-storage/tests/test_sync_script.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/__init__.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/backend.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/sync_script.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/__init__.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/config.py
  plugins/cscs-hpc-storage/waldur_site_agent_cscs_hpc_storage/waldur_storage_proxy/main.py
  plugins/harbor/README.md
  plugins/moab/README.md
  plugins/mup/README.md
  plugins/okd/README.md
  plugins/slurm/README.md
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Remove leftover
  .gitlab-ci.yml
Due: none

Implement periodic limit configuration
  .pre-commit-config.yaml
  plugins/slurm/README.md
  plugins/slurm/tests/test_historical_usage/README.md
  plugins/slurm/tests/test_historical_usage/__init__.py
  plugins/slurm/tests/test_historical_usage/conftest.py
  plugins/slurm/tests/test_historical_usage/test_backend_utils_historical.py
  plugins/slurm/tests/test_historical_usage/test_historical_usage_loader.py
  plugins/slurm/tests/test_historical_usage/test_integration.py
  plugins/slurm/tests/test_historical_usage/test_slurm_backend_historical.py
  plugins/slurm/tests/test_historical_usage/test_slurm_client_historical.py
  plugins/slurm/tests/test_membership_sync.py
  plugins/slurm/tests/test_order_processing.py
  plugins/slurm/tests/test_periodic_limits/EMULATOR_USAGE.md
  plugins/slurm/tests/test_periodic_limits/README.md
  plugins/slurm/tests/test_periodic_limits/TEST_SCENARIO_MAPPING.md
  plugins/slurm/tests/test_periodic_limits/__init__.py
  plugins/slurm/tests/test_periodic_limits/test_backend_integration.py
  plugins/slurm/tests/test_periodic_limits/test_configuration_validation.py
  plugins/slurm/tests/test_periodic_limits/test_emulator_integration.py
  plugins/slurm/tests/test_periodic_limits/test_emulator_scenarios_direct.py
  plugins/slurm/tests/test_periodic_limits/test_emulator_scenarios_working.py
  plugins/slurm/tests/test_periodic_limits/test_mock_mastermind_signals.py
  plugins/slurm/tests/test_periodic_limits/test_periodic_limits_plugin.py
  plugins/slurm/tests/test_periodic_limits/test_real_emulator_scenarios.py
  plugins/slurm/tests/test_reporing.py
  plugins/slurm/tests/test_timezone.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  plugins/slurm/waldur_site_agent_slurm/historical_usage_loader.py
  plugins/slurm/waldur_site_agent_slurm/parser.py
  pyproject.toml
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Remove noisy documentation
  plugins/basic_username_management/README.md
  plugins/croit-s3/README.md
  plugins/cscs-dwdi/README.md
  plugins/harbor/README.md
  plugins/moab/README.md
  plugins/mup/README.md
  plugins/okd/README.md
  plugins/slurm/README.md
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.8.0
  README.md
  charts/waldur-site-agent-0.8.0.tgz
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  docs/slurm-usage-reporting-setup.md
  index.yaml
Due: none

Ignore coverage report
  .gitignore
Due: none

Edit .gitignore
  .gitignore
Due: none

Fix offering component update
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix custom port selection
  waldur_site_agent/event_processing/event_subscription_manager.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Improve logging for the Rancher plugin
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/rancher/waldur_site_agent_rancher/rancher_client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

A skeleton of schema validation
  .gitlab-ci.yml
  docs/configuration-validation.md
  plugins/mup/tests/test_mup_fixtures.py
  plugins/mup/tests/test_mup_order_processing.py
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_timezone.py
  plugins/slurm/waldur_site_agent_slurm/schemas.py
  pyproject.toml
  tests/fixtures.py
  tests/test_course_account_message.py
  tests/test_offering_users.py
  tests/test_resource_import.py
  tests/test_service_account_message.py
  uv.lock
  waldur_site_agent/common/plugin_schemas.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add homedir creation for existing SLURM users
  helm/waldur-site-agent/values.yaml
  plugins/slurm/waldur_site_agent_slurm/backend.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Lint helm chart, Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.8.1
  charts/waldur-site-agent-0.8.1.tgz
  docs/configuration-validation.md
  index.yaml
Due: none

Add skeleton for cli validation
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_cli_interface.py
  tests/test_order_testing.py
  tests/test_order_testing_integration.py
  tests/test_project_user_none_state.py
  tests/test_template_validation.py
  uv.lock
  waldur_site_agent/common/utils.py
  waldur_site_agent/testing/__init__.py
  waldur_site_agent/testing/cli.py
  waldur_site_agent/testing/mock_backend.py
  waldur_site_agent/testing/order_test_harness.py
  waldur_site_agent/testing/template_engine.py
  waldur_site_agent/testing/templates/README.md
  waldur_site_agent/testing/templates/create/basic.json
  waldur_site_agent/testing/templates/create/slurm-full.json
  waldur_site_agent/testing/templates/create/with-limits.json
  waldur_site_agent/testing/templates/terminate/basic.json
  waldur_site_agent/testing/templates/update/attributes-and-limits.json
  waldur_site_agent/testing/templates/update/limits-only.json
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix scancel args
  plugins/slurm/waldur_site_agent_slurm/client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Bump waldur-api-client
  pyproject.toml
  uv.lock
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Rename var
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.8.2
  charts/waldur-site-agent-0.8.2.tgz
  index.yaml
Due: none
