Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Lint helm chart:
  image:
    name: registry.hpc.ut.ee/mirror/alpine/helm:3.12.3
    entrypoint:
    - ''
  stage: test
  interruptible: true
  before_script:
  - apk update
  - apk add jq python3
  - apk add -X http://dl-cdn.alpinelinux.org/alpine/edge/community -u alpine-keys
  ...

Run python v3.9 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.11 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.12 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.13 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.9 slurm tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 slurm tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Release 1.0.5-rc.1
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.1
  README.md
  charts/waldur-site-agent-1.0.5-rc.1.tgz
  docs/deployment.md
  docs/slurm-usage-reporting-setup.md
  docs/upgrading.md
  index.yaml
Due: none

[Bugfix] Bump SDK ver to includde affiliation field fix
  plugins/mup/tests/test_mup_order_processing.py
  plugins/slurm/tests/test_membership_sync.py
  plugins/slurm/tests/test_order_processing.py
  plugins/slurm/tests/test_reporing.py
  plugins/slurm/tests/test_timezone.py
  pyproject.toml
  tests/fixtures.py
  tests/test_course_account_message.py
  tests/test_multi_period_reporting.py
  tests/test_resource_import.py
  tests/test_service_account_message.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Round Waldur usage to 2 decimals before reporting
  plugins/waldur/tests/conftest.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
Due: none

Release 1.0.5-rc.2
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.2
  charts/waldur-site-agent-1.0.5-rc.2.tgz
  index.yaml
Due: none

[Bugfix] Federation: adopt in-flight B terminate order when resource is already Terminating
  plugins/waldur/tests/test_backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/client.py
Due: none

Bump api-client
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.3
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.3
  charts/waldur-site-agent-1.0.5-rc.3.tgz
  index.yaml
Due: none

Add missing fields to WaldurBackendSettingsSchema
  docs/configuration.md
  plugins/waldur/README.md
  plugins/waldur/tests/test_backend.py
  plugins/waldur/waldur_site_agent_waldur/schemas.py
Due: none

Skip set_usage when the reported usage matches what Waldur already has
  tests/test_set_usage_idempotency.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.4
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Bump waldur-api-client to 8.0.9.dev318
  pyproject.toml
  uv.lock
  waldur_site_agent/common/healthz.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.4
  charts/waldur-site-agent-1.0.5-rc.4.tgz
  docs/configuration.md
  index.yaml
Due: none

Output details of the readiness probe exception
  waldur_site_agent/common/healthz.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.5
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.5
  charts/waldur-site-agent-1.0.5-rc.5.tgz
  index.yaml
Due: none

[WAL-9999] Add project end_date sync to the Waldur backend
  plugins/waldur/tests/test_backend.py
  plugins/waldur/tests/test_client.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/client.py
  plugins/waldur/waldur_site_agent_waldur/enums.py
  plugins/waldur/waldur_site_agent_waldur/schemas.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Accept bare-name output from sacctmgr list cluster [gh-12]
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.6
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.6
  charts/waldur-site-agent-1.0.5-rc.6.tgz
  index.yaml
Due: none

Read SLURM account parent from association, not show account
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_account_parent_integration.py
  plugins/slurm/tests/test_project_reparenting.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.7
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.7
  charts/waldur-site-agent-1.0.5-rc.7.tgz
  index.yaml
Due: none

Bump slurm-emulator to 0.6.0 and adapt tests to real-SLURM parity
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/e2e/test_e2e_api_optimizations.py
  plugins/slurm/tests/test_account_parent_integration.py
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/tests/test_historical_usage/conftest.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Stabilize test_e2e_qos_stomp against its own STOMP consumers
  plugins/slurm/tests/e2e/test_e2e_qos_stomp.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Bump api client
  plugins/mup/tests/test_mup_order_processing.py
  plugins/slurm/tests/test_order_processing.py
  pyproject.toml
  tests/test_order_processing_logging.py
  uv.lock
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.8
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.8
  charts/waldur-site-agent-1.0.5-rc.8.tgz
  index.yaml
Due: none

Migrate agent HTTP clients from requests to httpx [WAL-8954]
  docs/plugin-template/waldur_site_agent_mycustom/client.py
  plugins/croit-s3/pyproject.toml
  plugins/croit-s3/tests/test_client.py
  plugins/croit-s3/waldur_site_agent_croit_s3/client.py
  plugins/harbor/pyproject.toml
  plugins/harbor/tests/test_harbor_client.py
  plugins/harbor/waldur_site_agent_harbor/client.py
  plugins/mup/pyproject.toml
  plugins/mup/tests/test_mup_client.py
  plugins/mup/waldur_site_agent_mup/client.py
  plugins/okd/pyproject.toml
  plugins/okd/waldur_site_agent_okd/client.py
  plugins/okd/waldur_site_agent_okd/token_manager.py
  plugins/rancher/pyproject.toml
  plugins/rancher/tests/test_rancher_client.py
  plugins/rancher/waldur_site_agent_rancher/rancher_client.py
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_periodic_limits/test_backend_integration.py
  plugins/slurm/tests/test_periodic_limits/test_emulator_integration.py
  plugins/slurm/tests/test_periodic_limits/test_emulator_scenarios_working.py
  plugins/slurm/tests/test_periodic_limits/test_periodic_limits_plugin.py
  plugins/slurm/tests/test_periodic_limits/test_real_emulator_scenarios.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Add unit tests for backend_id name generation
  tests/test_backend_id_generation.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests

Fix OSV dependency scan failures
  .osv-scanner.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Stop service_provider_can_create_offering_user from blocking partition sync [WAL-9925]
  plugins/slurm/tests/test_partition_associations.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  tests/test_offering_users.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Fix agent identitymanagement request to follow new SDK pattern, bump SDK ver
  plugins/slurm/tests/e2e/test_e2e_qos_stomp.py
  plugins/slurm/tests/e2e/test_e2e_stomp.py
  plugins/waldur/tests/e2e/test_e2e_offering_user_pubsub.py
  plugins/waldur/tests/e2e/test_e2e_stomp.py
  pyproject.toml
  tests/test_agent_identity_management.py
  uv.lock
  waldur_site_agent/common/agent_identity_management.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.9
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Handle forced offering resources synchronization requests [WAL-10023]
  plugins/slurm/tests/e2e/test_e2e_resources_sync.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  tests/test_event_processing/test_offering_resources_sync_handler.py
  tests/test_event_processing/test_stomp_setup.py
  tests/test_recreate_missing_resource.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.5-rc.9
  charts/waldur-site-agent-1.0.5-rc.9.tgz
  docs/plugin-template/waldur_site_agent_mycustom/client.py
  index.yaml
Due: none

Add touch heartbeat at start of offering processing so the healthbeat file is...
  waldur_site_agent/polling_processing/agent_membership_sync.py
  waldur_site_agent/polling_processing/agent_order_process.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
