Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Lint helm chart:
  image:
    name: registry.hpc.ut.ee/mirror/alpine/helm:3.12.3
    entrypoint:
    - ''
  stage: test
  interruptible: true
  before_script:
  - apk update
  - apk add jq python3
  - apk add -X http://dl-cdn.alpinelinux.org/alpine/edge/community -u alpine-keys
  ...

Run python v3.9 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.11 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.12 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.13 tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Move historical usage loader from SLURM plugin to core
  plugins/slurm/README.md
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_historical_usage/README.md
  plugins/slurm/tests/test_historical_usage/conftest.py
  pyproject.toml
  tests/test_backend_utils_historical.py
  tests/test_historical_usage_loader.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/historical_usage_loader.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add get_historical_usage_report() to CSCS-DWDI backends
  plugins/cscs-dwdi/README.md
  plugins/cscs-dwdi/tests/test_cscs_dwdi.py
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix Python 3.9 compatibility in test type hint
  plugins/cscs-dwdi/tests/test_cscs_dwdi.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add k8s-ut-namespace backend plugin for ManagedNamespace provisioning
  .pre-commit-config.yaml
  plugins/k8s-ut-namespace/README.md
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/k8s-ut-namespace/tests/conftest.py
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/tests/test_k8s_client.py
  plugins/k8s-ut-namespace/tests/test_role_mapping.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/__init__.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/k8s_client.py
  plugins/keycloak-client/pyproject.toml
  plugins/keycloak-client/waldur_site_agent_keycloak_client/__init__.py
  plugins/keycloak-client/waldur_site_agent_keycloak_client/keycloak_client.py
  plugins/rancher/tests/test_keycloak_client.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/rancher/waldur_site_agent_rancher/keycloak_client.py
  uv.lock
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add release version bumping for keycloak-client and k8s-ut-namespace plugins
  .gitlab-ci.yml
Due: none

Bump waldur client to 8.0.4
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add multi-period usage reporting support
  examples/waldur-site-agent-config.yaml.example
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
  plugins/slurm/tests/test_reporing.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/client.py
  tests/test_multi_period_reporting.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/event_processing/main.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/polling_processing/agent_report.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add writable /tmp to Helm deployments and report zero usage
  helm/waldur-site-agent/templates/deployment-event-process.yaml
  helm/waldur-site-agent/templates/deployment-membership-sync.yaml
  helm/waldur-site-agent/templates/deployment-order-process.yaml
  helm/waldur-site-agent/templates/deployment-report.yaml
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
Due: Lint helm chart, Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Move historical usage loader from SLURM plugin to core
  plugins/cscs-dwdi/README.md
  plugins/cscs-dwdi/tests/test_cscs_dwdi.py
  plugins/cscs-dwdi/waldur_site_agent_cscs_dwdi/backend.py
  plugins/slurm/README.md
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/test_historical_usage/README.md
  plugins/slurm/tests/test_historical_usage/conftest.py
  plugins/slurm/tests/test_historical_usage/test_integration.py
  plugins/slurm/tests/test_historical_usage/test_slurm_backend_historical.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  pyproject.toml
  tests/test_backend_utils_historical.py
  tests/test_historical_usage_loader.py
  tests/test_multi_period_reporting.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/historical_usage_loader.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Extend load_components_to_waldur() to pass all OfferingComponentRequest fields
  docs/configuration.md
  docs/plugin-development-guide.md
  examples/waldur-site-agent-config.yaml.example
  tests/test_load_components.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix STOMP reconnection storm with exponential backoff and cascade prevention [HPCMP-407]
  tests/test_event_processing/test_listener.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/listener.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Close offering user state machine gaps: ERROR_CREATING, cross-transitions, set_validation_complete [EFP-56079]
  docs/offering-users.md
  tests/test_offering_users.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Protect agent against SLURM emulator binaries shadowing real commands
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/tests/test_slurm_bin_path.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix SLURM tests to match absolute bin path resolution
  plugins/slurm/tests/test_historical_usage/test_integration.py
  plugins/slurm/tests/test_periodic_limits/test_backend_integration.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Handle sacctmgr "Nothing modified" on unchanged limits [HPCMP-438]
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.9.1
  README.md
  charts/waldur-site-agent-0.9.1.tgz
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  docs/offering-users.md
  docs/plugin-development-guide.md
  docs/plugin-template/waldur_site_agent_mycustom/backend.py
  docs/sdk.md
  docs/slurm-usage-reporting-setup.md
  docs/update-local-sdk.sh
  index.yaml
Due: none

Add missing version bump for digitalocean and opennebula plugins in CI publish job
  .gitlab-ci.yml
Due: none

Release 0.9.2
  charts/waldur-site-agent-0.9.2.tgz
  index.yaml
Due: none

Bump python client
  plugins/slurm/waldur_site_agent_slurm/diagnostic_service.py
  plugins/waldur/tests/e2e/test_e2e_usage_sync.py
  plugins/waldur/waldur_site_agent_waldur/target_event_handler.py
  pyproject.toml
  uv.lock
  waldur_site_agent/common/historical_usage_loader.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add offering user username sync from Waldur B with real-time STOMP subscription
  plugins/waldur/tests/e2e/test_e2e_username_sync.py
  plugins/waldur/tests/integration_helpers.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/tests/test_integration_username_sync.py
  plugins/waldur/tests/test_target_event_handler.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/client.py
  plugins/waldur/waldur_site_agent_waldur/target_event_handler.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add missing version bumps for digitalocean and opennebula plugins in CI
  tests/test_ci_publish.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add release tooling and replace hardcoded CI version bumps
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/releasing.md
  scripts/bump_versions.py
  scripts/changelog.sh
  scripts/generate_changelog_data.py
  scripts/prompts/changelog-prompt.md
  scripts/release.sh
  tests/test_ci_publish.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add evaluate_pending_order hook for plugin-controlled order approval
  tests/test_order_approval.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix order processing skipping resource creation when order.backend_id is set externally
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix E501 line too long lint error in processors.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix Rancher backend overwriting resource quotas with hardcoded defaults
  plugins/rancher/waldur_site_agent_rancher/backend.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Add offering user username sync from Waldur B with real-time STOMP subscription
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/offering-users.md
  examples/waldur-site-agent-config.yaml.example
  plugins/waldur/README.md
  plugins/waldur/tests/e2e/TEST_PLAN.md
  plugins/waldur/tests/e2e/conftest.py
  plugins/waldur/tests/e2e/integration-test-report.md
  plugins/waldur/tests/e2e/test_e2e_federation.py
  plugins/waldur/tests/integration_helpers.py
  plugins/waldur/tests/test_backend.py
  plugins/waldur/tests/test_integration_username_sync.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/client.py
  tests/test_event_processing/test_reconciliation.py
  waldur_site_agent/common/__init__.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/main.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Reduce API calls per polling cycle by ~80%
  plugins/mup/tests/test_mup_order_processing.py
  plugins/slurm/tests/e2e/__init__.py
  plugins/slurm/tests/e2e/conftest.py
  plugins/slurm/tests/e2e/test_e2e_api_optimizations.py
  plugins/slurm/tests/e2e/test_e2e_benchmark.py
  plugins/slurm/tests/test_membership_sync.py
  plugins/slurm/tests/test_reporing.py
  scripts/compare_e2e_api_calls.py
  tests/test_processor_caching.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

[WAL-9757] Temporarily disable SBOM generation and upload jobs in the pipeline
  .gitlab-ci.yml
Due: none

Use bulk set_user_usages endpoint to reduce per-user usage API calls
  plugins/slurm/tests/e2e/test_e2e_api_optimizations.py
  plugins/slurm/tests/test_reporing.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix STOMP heartbeat misconfiguration causing reconnects every ~30s
  tests/test_event_processing/test_listener.py
  tests/test_event_processing/test_stomp_heartbeat.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/listener.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix release to include up-to-date uv.lock in tagged commits
  Dockerfile
  scripts/release.sh
Due: none

Use ResourceQuota status.used for Rancher usage reporting
  plugins/rancher/tests/test_rancher_backend.py
  plugins/rancher/tests/test_rancher_client.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/rancher/waldur_site_agent_rancher/rancher_client.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Fix month-boundary race condition in usage reporting
  plugins/slurm/tests/test_timezone.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.9.3
  README.md
  charts/waldur-site-agent-0.9.3.tgz
  docs/architecture.md
  docs/configuration.md
  docs/deployment.md
  docs/offering-users.md
  docs/releasing.md
  index.yaml
Due: none

Add E2E integration test CI pipeline with DinD Waldur stack
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  ci/createdb-celery_results.sql
  ci/docker-compose.e2e.yml
  ci/e2e-ci-config-stomp.yaml
  ci/e2e-ci-config.yaml
  ci/override.conf.py
  ci/rabbitmq-enabled-plugins
  ci/rabbitmq.conf
  ci/site_agent_e2e.json
  docs/e2e-testing.md
  plugins/slurm/pyproject.toml
  plugins/slurm/tests/e2e/conftest.py
  plugins/slurm/tests/e2e/test_e2e_stomp.py
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.9.4
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 tests, Run python v3.10 tests, Run python v3.11 tests, Run python v3.12 tests, Run python v3.13 tests

Release 0.9.4
  charts/waldur-site-agent-0.9.4.tgz
  docs/e2e-testing.md
  index.yaml
Due: none

Fix Helm chart issues and add helm-unittest test suite
  .gitlab-ci.yml
  examples/waldur-site-agent-config.yaml.example
  helm/waldur-site-agent/README.md
  helm/waldur-site-agent/templates/NOTES.txt
  helm/waldur-site-agent/templates/deployment-event-process.yaml
  helm/waldur-site-agent/templates/deployment-membership-sync.yaml
  helm/waldur-site-agent/templates/deployment-order-process.yaml
  helm/waldur-site-agent/templates/deployment-report.yaml
  helm/waldur-site-agent/tests/combinations_test.yaml
  helm/waldur-site-agent/tests/deployment_event_process_test.yaml
  helm/waldur-site-agent/tests/deployment_membership_sync_test.yaml
  helm/waldur-site-agent/tests/deployment_order_process_test.yaml
  helm/waldur-site-agent/tests/deployment_report_test.yaml
  helm/waldur-site-agent/tests/helpers_test.yaml
  helm/waldur-site-agent/tests/secret_test.yaml
  helm/waldur-site-agent/values.yaml
Due: Lint helm chart

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 tests: any of: plugins/**/*, tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
