Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Lint helm chart:
  image:
    name: registry.hpc.ut.ee/mirror/alpine/helm:3.12.3
    entrypoint:
    - ''
  stage: test
  interruptible: true
  before_script:
  - apk update
  - apk add jq python3
  - apk add -X http://dl-cdn.alpinelinux.org/alpine/edge/community -u alpine-keys
  ...

Run python v3.9 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.11 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.12 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.13 core tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.9 slurm tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Run python v3.10 slurm tests:
  stage: test
  interruptible: true
  coverage: /TOTAL.+ ([0-9]{1,3}%)/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
  - pip install uv
  - uv sync --all-packages
  - source .venv/bin/activate
  ...

Cover the teardown failure semantics in tests [waldur/waldur-mastermind#413]
  plugins/ldap-client/tests/test_client_posix.py
  plugins/slurm/tests/e2e/test_e2e_ldap.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Describe the confirmed-removal rule in the teardown docs [waldur/waldur-mastermind#413]
  docs/offering-users.md
  plugins/ldap/README.md
Due: none

Release 1.0.8-rc.4
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.4
  charts/waldur-site-agent-1.0.8-rc.4.tgz
  docs/offering-users.md
  docs/plugin-development-guide.md
  index.yaml
Due: none

Keep the readiness probe off the API client and plugin imports
  tests/test_healthz_probe_cost.py
  waldur_site_agent/common/healthz.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.5
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.5
  charts/waldur-site-agent-1.0.8-rc.5.tgz
  index.yaml
Due: none

Publish release SBOMs as GitHub release assets [waldur/waldur-mastermind#233]
  .gitlab-ci.yml
  docs/releasing.md
Due: none

feat(k8s-ut-namespace): meter real usage as quota x elapsed time
  plugins/k8s-ut-namespace/README.md
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
Due: none

fix(k8s-ut-namespace): fix two bugs found testing against a real cluster
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/k8s_client.py
Due: none

LDAP plugin: write Waldur's project groups and make personal groups optional [#41]
  plugins/ldap-client/tests/test_client_posix.py
  plugins/ldap-client/waldur_site_agent_ldap_client/__init__.py
  plugins/ldap-client/waldur_site_agent_ldap_client/client.py
  plugins/ldap/README.md
  plugins/ldap/tests/test_backend_reconcile.py
  plugins/ldap/tests/test_backend_release.py
  plugins/ldap/tests/test_project_groups.py
  plugins/ldap/tests/test_reconcile.py
  plugins/ldap/tests/test_rename.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/ldap/waldur_site_agent_ldap/project_groups.py
  plugins/ldap/waldur_site_agent_ldap/reconcile.py
  plugins/ldap/waldur_site_agent_ldap/schemas.py
  tests/test_event_processing/test_health_check.py
  tests/test_event_processing/test_offering_user_release.py
  tests/test_event_processing/test_reconciliation.py
  tests/test_stomp_membership_sync_flag.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Bump oauthlib, pyjwt and urllib3 to fix OSV scan
  .osv-scanner.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Manage resource API keys one by one: request, assign, cap, pause, resume, delete [#30]
  README.md
  docs/plugin-development-guide.md
  plugins/ceph-s3/README.md
  plugins/envoy-ai-gateway/README.md
  plugins/envoy-ai-gateway/tests/test_envoy_backend.py
  plugins/envoy-ai-gateway/tests/test_envoy_client.py
  plugins/envoy-ai-gateway/tests/test_envoy_key_lifecycle.py
  plugins/envoy-ai-gateway/tests/test_envoy_usage_backend.py
  plugins/envoy-ai-gateway/waldur_site_agent_envoy_ai_gateway/backend.py
  plugins/envoy-ai-gateway/waldur_site_agent_envoy_ai_gateway/client.py
  plugins/envoy-ai-gateway/waldur_site_agent_envoy_ai_gateway/reporting.py
  pyproject.toml
  tests/fixtures.py
  tests/test_event_processing/test_api_key_command_handler.py
  tests/test_event_processing/test_reconciliation.py
  tests/test_polling_api_key_commands.py
  tests/test_resource_api_keys.py
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/resource_api_keys.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/polling_processing/agent_order_process.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.6
  CHANGELOG.md
  plugins/azure/pyproject.toml
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap-client/pyproject.toml
  plugins/ldap-roles/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.8-rc.6
  README.md
  charts/waldur-site-agent-1.0.8-rc.6.tgz
  docs/plugin-development-guide.md
  docs/releasing.md
  index.yaml
Due: none

Apply provider project group events straight away [waldur/waldur-mastermind#626]
  .gitlab-ci.yml
  ci/e2e-ci-config-ldap-project-groups.yaml
  plugins/ldap/README.md
  plugins/ldap/tests/test_project_groups.py
  plugins/ldap/waldur_site_agent_ldap/backend.py
  plugins/slurm/tests/e2e/test_e2e_ldap.py
  pyproject.toml
  tests/test_event_processing/test_project_group_handler.py
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Handle preserve-mode removals when unfiltered offering-user list fetch fails
  docs/configuration.md
  plugins/slurm/tests/e2e/test_e2e_membership_stale.py
  plugins/slurm/tests/test_membership_sync.py
  tests/test_processor_caching.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Reconnect dropped STOMP consumers and fail liveness while they stay down [#45]
  docs/architecture.md
  docs/deployment.md
  helm/waldur-site-agent/README.md
  plugins/azure/tests/conftest.py
  plugins/ldap/tests/conftest.py
  plugins/mup/tests/conftest.py
  plugins/slurm/tests/conftest.py
  plugins/waldur/tests/conftest.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  tests/conftest.py
  tests/test_event_processing/test_listener.py
  tests/test_event_processing/test_stomp_recovery.py
  tests/test_event_processing/test_stomp_setup.py
  tests/test_event_processing/test_stomp_watchdog.py
  tests/test_event_processing/test_user_role_handler.py
  tests/test_heartbeat_path.py
  tests/test_transient_api_errors.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/__init__.py
  waldur_site_agent/common/healthz.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/listener.py
  waldur_site_agent/event_processing/main.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/event_processing/watchdog.py
  waldur_site_agent/testing/pytest_heartbeat.py
Due: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Route every Waldur client through OIDC-aware auth [#43]
  docs/configuration.md
  plugins/slurm/tests/test_diagnostic_cli_auth.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_cli.py
  plugins/waldur/tests/test_username_backend.py
  plugins/waldur/waldur_site_agent_waldur/username_backend.py
  tests/test_event_processing/test_offering_resources_sync_handler.py
  tests/test_oidc_client_paths.py
  waldur_site_agent/common/log_shipper.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/polling_processing/agent_order_process.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Reserve ERRED for backend failures in membership sync and order processing [#46]
  plugins/waldur/tests/test_backend.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  tests/test_erred_only_for_backend_failures.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Run the plugin create logic on the order path for DigitalOcean and Harbor [#47]
  helm/waldur-site-agent/values.yaml
  plugins/digitalocean/tests/test_digitalocean_backend.py
  plugins/digitalocean/waldur_site_agent_digitalocean/backend.py
  plugins/harbor/tests/test_harbor_backend.py
  plugins/harbor/waldur_site_agent_harbor/backend.py
  plugins/rancher/tests/test_rancher_backend.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  pyproject.toml
  waldur_site_agent/common/__init__.py
Due: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Honour global_proxy in event mode and support SOCKS proxies [#44]
  docs/configuration.md
  plugins/waldur/tests/test_target_event_handler.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  plugins/waldur/waldur_site_agent_waldur/target_event_handler.py
  pyproject.toml
  tests/test_event_processing/test_event_mode_proxy.py
  tests/test_event_processing/test_reconciliation.py
  uv.lock
  waldur_site_agent/common/structures.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/main.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Process STOMP messages off the receiver thread and ack after handling [#38]
  docs/architecture.md
  plugins/waldur/waldur_site_agent_waldur/backend.py
  tests/test_agent_telemetry_resilience.py
  tests/test_event_processing/test_listener.py
  tests/test_event_processing/test_stomp_worker_ack.py
  waldur_site_agent/common/__init__.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/listener.py
  waldur_site_agent/event_processing/main.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/event_processing/watchdog.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Route the STOMP WebSocket through global_proxy [#57]
  docs/architecture.md
  docs/configuration.md
  plugins/waldur/waldur_site_agent_waldur/backend.py
  pyproject.toml
  tests/test_agent_telemetry_resilience.py
  tests/test_event_processing/test_listener.py
  tests/test_event_processing/test_stomp_websocket_proxy.py
  tests/test_event_processing/test_stomp_worker_ack.py
  uv.lock
  waldur_site_agent/common/__init__.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/listener.py
  waldur_site_agent/event_processing/main.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/event_processing/watchdog.py
  waldur_site_agent/event_processing/ws_proxy.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Fix install and deployment docs so every command works [#50]
  CHANGELOG.md
  docs/deployment.md
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  docs/installation.md
  docs/quickstart.md
  docs/releasing.md
  docs/rocky9-python313-validation.md
  docs/rocky9-validation-results-final.md
  docs/rocky9-validation-results.md
  docs/ubuntu24-validation-results.md
  docs/upgrading.md
  examples/mup-config-example.yaml
  examples/slurm-cscs-dwdi-mixed-config.yaml.example
  examples/waldur-site-agent-config.yaml.example
  helm/waldur-site-agent/README.md
  systemd-conf/agent-event-process/agent-file-logging.service
  systemd-conf/agent-event-process/agent-legacy.service
  systemd-conf/agent-membership-sync/agent-file-logging.service
  systemd-conf/agent-membership-sync/agent-legacy.service
  systemd-conf/agent-order-process/agent-file-logging.service
  systemd-conf/agent-order-process/agent-legacy.service
  systemd-conf/agent-report/agent-file-logging.service
  systemd-conf/agent-report/agent-legacy.service
Due: Lint helm chart

Adopt the agent's own droplet or project when an order is retried [#56]
  plugins/digitalocean/README.md
  plugins/digitalocean/tests/test_digitalocean_backend.py
  plugins/digitalocean/tests/test_digitalocean_retry_idempotency.py
  plugins/digitalocean/waldur_site_agent_digitalocean/backend.py
  plugins/digitalocean/waldur_site_agent_digitalocean/client.py
  plugins/harbor/README.md
  plugins/harbor/tests/test_harbor_backend.py
  plugins/harbor/tests/test_harbor_retry_idempotency.py
  plugins/harbor/waldur_site_agent_harbor/backend.py
  plugins/harbor/waldur_site_agent_harbor/client.py
Due: Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests

Bring the SLURM plugin docs in line with the code [#51]
  docs/slurm-rest-api-design.md
  docs/slurm-storage-quotas.md
  docs/slurm-usage-reporting-setup.md
  plugins/slurm/README.md
  plugins/slurm/docs/upgrading.md
  plugins/slurm/tests/test_historical_usage/README.md
  plugins/slurm/tests/test_periodic_limits/EMULATOR_USAGE.md
  plugins/slurm/tests/test_periodic_limits/README.md
  plugins/slurm/tests/test_periodic_limits/TEST_SCENARIO_MAPPING.md
  plugins/slurm/waldur_site_agent_slurm/rest_client.py
  plugins/slurm/waldur_site_agent_slurm/schemas.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Bring offering-user and plugin-author docs in line with the code [#52]
  docs/e2e-testing.md
  docs/offering-users.md
  docs/plugin-development-guide.md
  docs/waldur-offering-user-sync.md
  tests/test_docs_e2e_index.py
  waldur_site_agent/testing/templates/README.md
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Bring core configuration and architecture docs in line with the code [#49]
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/configuration-validation.md
  docs/configuration.md
  docs/sdk.md
  docs/update-local-sdk.sh
Due: none

Default the STOMP port from websocket_use_tls, not verify_ssl [#61]
  docs/configuration.md
  docs/deployment.md
  tests/test_event_processing/test_stomp_default_port.py
  waldur_site_agent/event_processing/event_subscription_manager.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Report a rejected token in diagnostics instead of crashing [#59]
  tests/test_diagnostics_cli.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Pass an okd CA bundle path to the Kubernetes client as ssl_ca_cert [#62]
  plugins/okd/tests/test_okd_client_tls.py
  plugins/okd/waldur_site_agent_okd/client.py
Due: Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests

Validate every config example in the docs in CI [#48]
  docs/configuration.md
  docs/plugin-development-guide.md
  docs/plugin-readme-template.md
  examples/waldur-site-agent-config.yaml.example
  plugins/rancher-kc-crd/examples/e2e-localdev-config.yaml
  tests/test_docs_config_examples.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests

Generate the configuration reference tables and check hand-written reference docs against the code [#54]
  README.md
  docs/configuration.md
  scripts/generate_plugin_table.py
  scripts/generate_reference_docs.py
  tests/test_reference_docs.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests

Read SDK limits in the SLURM account diagnostics [#60]
  plugins/slurm/tests/test_diagnostic_sdk_models.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_service.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Keep supplied UUIDs in order templates and generate a new UUID per render [#63]
  tests/test_template_supplied_uuids.py
  waldur_site_agent/testing/template_engine.py
  waldur_site_agent/testing/templates/README.md
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Build the account diagnostics client from the offering's backend settings [#65]
  plugins/slurm/tests/test_diagnostic_cli_client.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/diagnostic_cli.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

feat(k8s-ut-namespace): meter cpu/ram/gpu from live pod requests, not namespace quota
  plugins/k8s-ut-namespace/README.md
  plugins/k8s-ut-namespace/tests/test_backend.py
  plugins/k8s-ut-namespace/tests/test_k8s_client.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/k8s_client.py
Due: none

Log failed user additions with their cause instead of hiding them [#58]
  docs/plugin-development-guide.md
  plugins/k8s-ut-namespace/tests/test_add_user_failures.py
  plugins/k8s-ut-namespace/waldur_site_agent_k8s_ut_namespace/backend.py
  plugins/ldap-roles/tests/test_add_user_failures.py
  plugins/ldap-roles/waldur_site_agent_ldap_roles/backend.py
  plugins/opennebula/tests/test_add_user_failures.py
  plugins/opennebula/waldur_site_agent_opennebula/backend.py
  plugins/rancher-kc-crd/tests/test_add_user_failures.py
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/backend.py
  plugins/rancher/tests/test_add_user_failures.py
  plugins/rancher/waldur_site_agent_rancher/backend.py
  plugins/slurm/tests/test_user_sync_failures.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  tests/test_user_sync_failures.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/backend/exceptions.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
