Repository waldur/waldur-site-agent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Path conditions:
  Lint helm chart: any of: helm/**/*
  Run python v3.9 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 core tests: any of: tests/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 slurm tests: any of: plugins/slurm/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 mup tests: any of: plugins/mup/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 harbor tests: any of: plugins/harbor/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 okd tests: any of: plugins/okd/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 rancher tests: any of: plugins/rancher/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 croit-s3 tests: any of: plugins/croit-s3/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.9 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.10 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.11 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.12 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock
  Run python v3.13 cscs-dwdi tests: any of: plugins/cscs-dwdi/**/*, pyproject.toml, waldur_site_agent/**/*, uv.lock

Add enumeration to fix liveness probe killing agent pods during long per-offering processing
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.14
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.14
  charts/waldur-site-agent-1.0.6-rc.14.tgz
  index.yaml
Due: none

Release 1.0.6-rc.15
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.15
  charts/waldur-site-agent-1.0.6-rc.15.tgz
  index.yaml
Due: none

Make service/course account sync best-effort so it can't ERR resources
  tests/test_processor_caching.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Fix crash on trimmed MePermission payload from /api/users/me
  tests/test_print_current_user.py
  waldur_site_agent/common/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.16
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/croit-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.16
  charts/waldur-site-agent-1.0.6-rc.16.tgz
  index.yaml
Due: none

Stop reparenting SLURM allocation accounts on project move
  plugins/slurm/tests/test_project_reparenting.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  tests/test_execute_command_logging.py
  waldur_site_agent/backend/clients.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.17
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.17
  README.md
  charts/waldur-site-agent-1.0.6-rc.17.tgz
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  index.yaml
Due: none

Fix misleading membership-sync logs for rancher-kc-crd backend
  plugins/rancher-kc-crd/README.md
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/backend.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Add manual testing guide for rancher-kc-crd
  plugins/rancher-kc-crd/README.md
  plugins/rancher-kc-crd/manual-testing-guide.md
  plugins/rancher-kc-crd/waldur_site_agent_rancher_kc_crd/backend.py
Due: none

Add ServiceAccount support to Helm chart
  helm/waldur-site-agent/README.md
  helm/waldur-site-agent/templates/_helpers.tpl
  helm/waldur-site-agent/templates/deployment-event-process.yaml
  helm/waldur-site-agent/templates/deployment-membership-sync.yaml
  helm/waldur-site-agent/templates/deployment-order-process.yaml
  helm/waldur-site-agent/templates/deployment-report.yaml
  helm/waldur-site-agent/templates/serviceaccount.yaml
  helm/waldur-site-agent/tests/deployment_event_process_test.yaml
  helm/waldur-site-agent/tests/deployment_membership_sync_test.yaml
  helm/waldur-site-agent/tests/deployment_order_process_test.yaml
  helm/waldur-site-agent/tests/deployment_report_test.yaml
  helm/waldur-site-agent/tests/helpers_test.yaml
  helm/waldur-site-agent/tests/serviceaccount_test.yaml
  helm/waldur-site-agent/values.yaml
Due: Lint helm chart

Add Nextcloud plugin for waldur-site-agent
  .gitlab-ci.yml
  README.md
  docs/configuration.md
  docs/plugin-development-guide.md
  examples/waldur-site-agent-config.yaml.example
  helm/waldur-site-agent/templates/deployment-event-process.yaml
  helm/waldur-site-agent/templates/deployment-membership-sync.yaml
  helm/waldur-site-agent/templates/deployment-order-process.yaml
  helm/waldur-site-agent/templates/deployment-report.yaml
  helm/waldur-site-agent/values.yaml
  plugins/nextcloud/README.md
  plugins/nextcloud/pyproject.toml
  plugins/nextcloud/tests/__init__.py
  plugins/nextcloud/tests/test_nextcloud_backend.py
  plugins/nextcloud/tests/test_nextcloud_client.py
  plugins/nextcloud/waldur_site_agent_nextcloud/__init__.py
  plugins/nextcloud/waldur_site_agent_nextcloud/backend.py
  plugins/nextcloud/waldur_site_agent_nextcloud/client.py
  plugins/nextcloud/waldur_site_agent_nextcloud/exceptions.py
  tests/test_stomp_membership_sync_flag.py
  tests/test_team_fetch_retry.py
  uv.lock
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/event_processing/utils.py
  waldur_site_agent/polling_processing/agent_membership_sync.py
Due: Lint helm chart, Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Fetch offering context once per forced resources sync
  tests/test_event_processing/test_offering_resources_sync_handler.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/event_processing/handlers.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Meter GB-days on the radosgw flavour
  docs/installation-rocky9.md
  docs/installation-ubuntu24.md
  plugins/ceph-s3/README.md
  plugins/ceph-s3/pyproject.toml
  plugins/ceph-s3/tests/test_reporting_prometheus.py
  plugins/ceph-s3/tests/test_reporting_split.py
  plugins/ceph-s3/waldur_site_agent_ceph_s3/promql.py
  plugins/ceph-s3/waldur_site_agent_ceph_s3/reporting.py
  plugins/ceph-s3/waldur_site_agent_ceph_s3/reporting_prometheus.py
Due: none

Keep orders pending on evaluation failures and transient API errors
  tests/test_error_details_exposure.py
  tests/test_transient_api_errors.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Gate homedirs and periodic settings on declared backend capabilities
  docs/installation.md
  docs/plugin-development-guide.md
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/schemas.py
  tests/fixtures.py
  tests/test_create_homedirs_command.py
  tests/test_event_processing/test_report_command_result.py
  tests/test_homedir_quota.py
  waldur_site_agent/backend/backends.py
  waldur_site_agent/common/plugin_schemas.py
  waldur_site_agent/common/utils.py
  waldur_site_agent/event_processing/handlers.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Allow omitting decreasing usage components instead of aborting the whole set_usage
  examples/waldur-site-agent-config.yaml.example
  plugins/slurm/tests/test_reporing.py
  tests/test_set_usage_idempotency.py
  waldur_site_agent/common/processors.py
  waldur_site_agent/common/structures.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Prepare RabbitMQ 4.3 upgrade compatibility [gl-10]
  .gitlab-ci.yml
  ci/docker-compose.e2e.yml
  ci/rabbitmq.conf
  plugins/slurm/tests/e2e/test_e2e_qos_stomp.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Wire the dependency licence gate into CI [waldur/waldur-mastermind#285]
  .gitlab-ci.yml
Due: none

Look back a collection interval for the stored-bytes reading
  plugins/ceph-s3/README.md
  plugins/ceph-s3/tests/test_reporting_prometheus.py
  plugins/ceph-s3/waldur_site_agent_ceph_s3/reporting_prometheus.py
Due: none

Release 1.0.6-rc.18
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.18
  README.md
  charts/waldur-site-agent-1.0.6-rc.18.tgz
  docs/configuration.md
  docs/installation.md
  docs/plugin-development-guide.md
  index.yaml
Due: none

[#12] Add LiteLLM plugin
  .gitlab-ci.yml
  README.md
  plugins/litellm/README.md
  plugins/litellm/pyproject.toml
  plugins/litellm/tests/test_litellm_backend.py
  plugins/litellm/tests/test_litellm_client.py
  plugins/litellm/tests/test_litellm_usage_backend.py
  plugins/litellm/tests/test_litellm_usage_client.py
  plugins/litellm/waldur_site_agent_litellm/__init__.py
  plugins/litellm/waldur_site_agent_litellm/backend.py
  plugins/litellm/waldur_site_agent_litellm/client.py
  plugins/litellm/waldur_site_agent_litellm/reporting.py
  plugins/litellm/waldur_site_agent_litellm/schemas.py
  plugins/litellm/waldur_site_agent_litellm/usage_client.py
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.19
  CHANGELOG.md
  plugins/basic_username_management/pyproject.toml
  plugins/ceph-s3/pyproject.toml
  plugins/cscs-dwdi/pyproject.toml
  plugins/digitalocean/pyproject.toml
  plugins/envoy-ai-gateway/pyproject.toml
  plugins/harbor/pyproject.toml
  plugins/k8s-ut-namespace/pyproject.toml
  plugins/keycloak-client/pyproject.toml
  plugins/ldap/pyproject.toml
  plugins/litellm/pyproject.toml
  plugins/moab/pyproject.toml
  plugins/mup/pyproject.toml
  plugins/nextcloud/pyproject.toml
  plugins/okd/pyproject.toml
  plugins/opennebula/pyproject.toml
  plugins/rancher-kc-crd/pyproject.toml
  plugins/rancher/pyproject.toml
  plugins/slurm/pyproject.toml
  plugins/waldur/pyproject.toml
  pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Release 1.0.6-rc.19
  README.md
  charts/waldur-site-agent-1.0.6-rc.19.tgz
  index.yaml
Due: none

Announce releases on Slack [#14]
  .gitlab-ci.yml
  docs/releasing.md
Due: none

Document published packages, Helm chart repository and Artifact Hub verification
  .gitlab-ci.yml
  README.md
  artifacthub-repo.yml
  docs/deployment.md
  docs/installation.md
  docs/releasing.md
  docs/upgrading.md
  helm/waldur-site-agent/README.md
  scripts/generate_plugin_table.py
Due: Lint helm chart

Add Quickstart guide and surface diagnostics tooling
  README.md
  docs/configuration.md
  docs/deployment.md
  docs/quickstart.md
Due: none

Extend the 500 error handling to membership sync so it does not ERR valid resources
  tests/test_transient_api_errors.py
  waldur_site_agent/common/processors.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

Bump slurm-emulator to 0.9.3 for QoS GrpTRESMins and RawUsage [waldur/slurm-emulator#1]
  plugins/slurm/pyproject.toml
  uv.lock
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests

fix(slurm): opt-in skip of QoS swap and GrpTRESMins on dedicated QoS
  examples/waldur-site-agent-config.yaml.example
  plugins/slurm/docs/upgrading.md
  plugins/slurm/tests/test_command_construction.py
  plugins/slurm/tests/test_qos_management_flags.py
  plugins/slurm/tests/test_rest_client.py
  plugins/slurm/waldur_site_agent_slurm/backend.py
  plugins/slurm/waldur_site_agent_slurm/client.py
  plugins/slurm/waldur_site_agent_slurm/interface.py
  plugins/slurm/waldur_site_agent_slurm/rest_client.py
  plugins/slurm/waldur_site_agent_slurm/schemas.py
Due: Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests

Trim CI: MR interpreter matrix, one plugin test job, no cache priming
  .gitlab-ci.yml
  CLAUDE.md
  plugins/opennebula/tests/test_backend.py
Due: none

Split the E2E job into three parallel jobs; QoS matrix on main only
  .gitlab-ci.yml
  docs/e2e-testing.md
Due: none

Speed up E2E jobs: no coverage, one pytest per job, LDAP behind a profile
  .gitlab-ci.yml
  ci/docker-compose.e2e.yml
  docs/e2e-testing.md
Due: none

Migrate agent to the unified pub/sub queue [WAL-10011]
  plugins/slurm/tests/e2e/test_e2e_qos_stomp.py
  plugins/slurm/tests/e2e/test_e2e_stomp.py
  plugins/waldur/tests/test_target_event_handler.py
  plugins/waldur/waldur_site_agent_waldur/backend.py
  tests/test_event_processing/test_route_message.py
  tests/test_event_processing/test_stomp_heartbeat.py
  tests/test_event_processing/test_stomp_setup.py
  waldur_site_agent/common/agent_identity_management.py
  waldur_site_agent/common/structures.py
  waldur_site_agent/event_processing/event_subscription_manager.py
  waldur_site_agent/event_processing/handlers.py
  waldur_site_agent/event_processing/structures.py
  waldur_site_agent/event_processing/utils.py
Due: Run python v3.9 core tests, Run python v3.10 core tests, Run python v3.11 core tests, Run python v3.12 core tests, Run python v3.13 core tests, Run python v3.9 slurm tests, Run python v3.10 slurm tests, Run python v3.11 slurm tests, Run python v3.12 slurm tests, Run python v3.13 slurm tests, Run python v3.9 mup tests, Run python v3.10 mup tests, Run python v3.11 mup tests, Run python v3.12 mup tests, Run python v3.13 mup tests, Run python v3.9 harbor tests, Run python v3.10 harbor tests, Run python v3.11 harbor tests, Run python v3.12 harbor tests, Run python v3.13 harbor tests, Run python v3.9 okd tests, Run python v3.10 okd tests, Run python v3.11 okd tests, Run python v3.12 okd tests, Run python v3.13 okd tests, Run python v3.9 rancher tests, Run python v3.10 rancher tests, Run python v3.11 rancher tests, Run python v3.12 rancher tests, Run python v3.13 rancher tests, Run python v3.9 croit-s3 tests, Run python v3.10 croit-s3 tests, Run python v3.11 croit-s3 tests, Run python v3.12 croit-s3 tests, Run python v3.13 croit-s3 tests, Run python v3.9 cscs-dwdi tests, Run python v3.10 cscs-dwdi tests, Run python v3.11 cscs-dwdi tests, Run python v3.12 cscs-dwdi tests, Run python v3.13 cscs-dwdi tests
